.category-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 40px;
   
    
}
.category-title {
    margin-bottom: 25px;
    margin-top: 120px;
    cursor: pointer;
    text-decoration: none;
    color: black;  
    display: flex;      
}
